.wrap {
  display: flex;
  align-items: center;
  margin: 30px 0 40px 0;
}
.img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.form {
  position: relative;
  width: calc(100% - 50px);
}
.input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 15px 0 15px 10px;
  font-size: 15px;
  box-sizing: border-box;
  outline: none;
}
.btn {
  position: absolute;
  right: 8px;
  top: 50%;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  background-color: #dfdfdf;
  font-size: 12px;
  transform: translateY(-50%);
}
.limit {
  position: absolute;
  right: 8px;
  bottom: -20px;
  color: #8b8b8b;
}
