.containerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 102px;
}
.listContainer {
  margin-top: 30px;
}
.gameContainer {
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 15px;
  cursor: pointer;
}
.gameInnerContainer > span {
  font-size: 11px;
  color: #777d8e;
  background-color: #f9f9fb;
  display: inline-block;
  padding: 1px 8px;
  border-radius: 3px;
}
.blank {
  display: inline-block;
  width: 3px;
}
.gameTitle {
  font-size: 16px;
  margin: 0px 0px 6px 3px;
}
.gameParticipation {
  margin: 4px 12px 0px 12px;
}
.likeButton {
  position: absolute;
  top: 3px;
  right: 0px;
}
.makeGameButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 100px;
  border: none;
  background-color: #f7de6f;
  font-size: 30px;
  color: white;
  cursor: pointer;
  position: fixed;
  background-image: url('@assets/button/create.webp');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 429px) {
  .makeGameButton {
    right: 15px;
  }
}
@media screen and (min-width: 430px) and (max-width: 1023px) {
  .makeGameButton {
    left: calc(50% + 145px);
  }
}
@media screen and (min-width: 1024px) {
  .makeGameButton {
    left: calc(61% + 145px);
  }
}
