.wrap {
  background: url('../../assets/btn_left.png') no-repeat 10px 65%;
  background-size: auto;
  text-align: center;
  cursor: pointer;
}
.colorWrap {
  background: #f7de70 url('../../assets/btn_left.png') no-repeat 10px 65%;
  background-size: auto;
}

.title {
  margin: 0;
  /* border-bottom: 1px solid #ccc; */
  padding: 30px 0 20px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.6px;
}
