.goback {
  background: url('../../assets/goback.jpeg') no-repeat 20px center;
  background-size: auto;
  text-align: center;
  cursor: pointer;
}
.title {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
  padding: 15px 0 20px 0;
  font-size: 18px;
}
