.chatUserImage {
  max-width: 62px;
  height: 62px;
  border-radius: 41px;
  object-fit: cover;
  margin-right: 20px;
}

.userEdit {
  display: flex;
  justify-content: space-between;
}
.userEdit > button {
  width: 32px;
  height: 32px;
  font-weight: 900;
  font-size: large;
  background-color: #f7de6f;

  border: none;
  position: relative;
  top: 18px;

  cursor: pointer;
}

.chatContent {
  display: flex;
  padding: 15px 20px;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
}
.chatDesc {
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
}
.chatName {
  margin: 0;
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
}
.chatMessage {
  margin: 0;
  position: relative;
  top: 14px;
  font-size: 13px;
  color: #979797;
}
.chatCategory {
  font-size: 12px;
  font-weight: 400;
  border: 1px solid rgb(228, 225, 225);
  padding: 1px 8px;
  background-color: rgb(246, 241, 237);
  border-radius: 8px;
  margin-left: 10px;
  box-sizing: border-box;
}
