.image {
  position: relative;
  right: 20px;
  top: -20px;
  width: 100%;
  height: 368px;
  margin-top: 72px;
  padding: 20px;
}
.image1 {
  background: url('@assets/background/chat_e.webp') no-repeat center;
  background-size: contain;
}
.image2 {
  background: url('@assets/background/chat_f.webp') no-repeat center;
  background-size: contain;
}
.image3 {
  background: url('@assets/background/chat_i.webp') no-repeat center;
  background-size: contain;
}
.image4 {
  background: url('@assets/background/chat_t.webp') no-repeat center;
  background-size: contain;
}
.image ~ h2 {
  margin-top: 0;
}

.text {
  font-size: 16px;
  padding-bottom: 72px;
}

.button {
  display: flex;
  width: 100%;
  height: 52px;
  border: 1px solid #f7de6f;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  background-color: #f7de6f;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding-bottom: 10px;
}

.content > p {
  padding-left: 10px;
}

.userImage {
  width: 52px;
  height: 52px;
  border-radius: 26px;
}

.visibleBtn {
  display: flex;
  width: 100%;
  height: 52px;
  border: 1px solid #c1c1c1;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
}
