.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -20px;
  width: calc(100% + 40px);
  height: 72px;
  margin: 0px;
  background-color: #f7de6f;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: calc(100% + 40px);
  right: 20px;
  box-sizing: border-box;
}
