.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: 200px 200px;
  grid-template-columns: 1fr 1fr;
}

.logo {
  font-size: 32px;
  font-weight: bolder;
  line-height: 42px;
  margin: 20px 0px 20px 10px;
}

.banner {
  width: 100%;
  height: 264px;
}

.titleContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0px 18px 0px;
}
.titleContent:nth-of-type(2) {
  margin-top: 50px;
}

.titleContent > h2 {
  margin: 18px 0px 0px 0px;
  font-size: 20px;
  font-weight: 700;
}

.titleContent > span {
  vertical-align: text-bottom;
  margin: 28px 0px 0px 0px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  color: #a5a5a5;
}

.middleBanner {
  width: 430px;
  height: 116px;
  margin: 40px 0px 0px;
  background-image: url('../../assets/banner4.png');
  background-size: 430px;
  background-repeat: no-repeat;
  position: relative;
  right: 20px;
}

.middleBanner > span {
  font-weight: bolder;
  font-size: 20px;
  line-height: 116px;
}

.bottomBanner {
  width: 430px;
  height: 116px;
  background-image: url('../../assets/banner5.png');
  background-size: 430px;
  background-repeat: no-repeat;
  position: relative;
  right: 20px;
  margin: 30px 0px 0px 0px;
}

.bottomBanner > span {
  font-weight: bolder;
  font-size: 20px;
  line-height: 116px;
}
