.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 102px;
}

.logo {
  background: url('../../assets/logo_yellow.png') no-repeat;
  width: 100%;
  height: 36px;
}
.gameContainer {
  padding: 14px 0px 0px;
  margin: 70px 0px 20px;
  border-radius: 10px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  padding-left: 16px;
  margin: 15px 0px 10px 6px;
}
.compatibility {
  background: url('@assets/background/compatibility.webp') no-repeat top;
  background-size: cover;
  width: 80%;
  height: 170px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  margin: auto;
  cursor: pointer;
}
.lastBanner {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 20px 0px 0px;
}
.lastBannerLeft {
  width: 50%;
}
.lastBannerRight {
  width: 50%;
}
.review {
  background: url('@assets/background/review.webp') no-repeat top;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-size: cover;
  width: 80%;
  height: 170px;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
}
