.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: 200px 200px;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.subTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0px 5px 0px;
}
.subTitle > h2 {
  font-size: 20px;
  font-weight: 700;
}
.subTitle > span {
  vertical-align: text-bottom;
  margin: 28px 0px 0px 0px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  color: #a5a5a5;
}
