/* goback component 높이 수정 */
.wrap > div {
  background-position: 20px 52%;
}
.wrap > div > h2 {
  padding: 25px 0;
}

.editBox {
  padding-top: 50px;
}
.editBox > p {
  font-size: 15px;
  margin: 0 0 5px 0;
}
.editBox > input:nth-of-type(1) {
  margin-bottom: 40px;
}
.input {
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 12px;
  padding: 15px 0 15px 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.btnEdit {
  width: 100%;
  margin-top: 100px;
  border: none;
  border-radius: 100px;
  padding: 15px 0;
  font-size: 15px;
  cursor: pointer;
  color: #a5a5a5;
  text-align: center;
}
.btnEditOn {
  background-color: #f7de6f;
  color: #333;
}
.btnEditOff {
  background-color: #dfdfdf;
}
