.wrap {
  height: 100vh;
}

.editImage > input {
  display: none;
}

.editImage {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  position: relative;
  left: 40px;
  top: 15px;
}

.editImage > label {
  cursor: pointer;
}

.editImage > label > img {
  width: 30px;
  border-radius: 50%;
  background-color: #c4c4c4;
  position: relative;
  z-index: 1;
}

.background {
  width: calc(100% + 40px);
  height: 105px;

  background-color: #f7de6f;

  position: relative;

  right: 20px;

  z-index: 1;
}

.background > Goback {
  z-index: 2;
}

.background > div:nth-child(1) {
  background: url(../../assets/btn_left.png) no-repeat center;
  background-size: contain;
  width: 32px;
  height: 32px;

  position: relative;
  right: 30px;

  cursor: pointer;
}

.background > div:nth-child(3) {
  width: 32px;
}

.background > p {
  font-size: 19px;
  font-weight: 700;

  line-height: 32px;
  margin: 0px;
}

.userImage {
  width: 112px;
  height: 112px;
  border-radius: 56px;
  display: block;
  margin: auto;
  position: relative;
  bottom: 94px;
}

.inputContent > input {
  width: 96%;
  height: 32px;

  padding: 5px;
  margin-bottom: 21px;

  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
}

.inputContent > p {
  font-weight: 600;
  margin-bottom: 9px;
}

.inputContent > select {
  width: 100%;
  height: 46px;
  border-radius: 12px;
  font-size: 16px;

  padding: 10px;
}

.onEditBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  width: 100%;
  height: 45px;

  font-size: 16px;

  border-radius: 100px;
  background-color: #f7de6f;

  position: relative;
  top: 60px;

  cursor: pointer;
}

.offEditBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  width: 100%;
  height: 45px;

  font-size: 16px;

  border-radius: 100px;
  background-color: #c2c2c2;

  position: relative;
  top: 60px;

  cursor: pointer;
}

.inputContent {
  padding-top: 50px;
}

.goback {
  position: relative;
  bottom: 80px;

  z-index: 2;
}
