.userInfo {
  display: flex;
  align-items: center;
  position: relative;
  right: 20px;
  width: 100%;
  padding: 20px;
  background-color: #f7de6f;
}
.imageBox {
  min-width: 21%;
  width: 21%;
}
.image {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 79%;
  cursor: pointer;
}
.content > div {
  display: flex;
  align-items: center;
}

.mbti {
  margin-left: 10px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  background-color: #ffffff;
}
.btn {
  width: 16px;
  height: 16px;
  background: url('@assets/icon/right.webp') no-repeat center;
  background-size: contain;
}
@media screen and (max-width: 370px) {
  .image {
    width: 52px;
    height: 52px;
  }
  .content {
    width: 73%;
  }
}
