nav {
  position: fixed;
  top: 0;
  padding: 10px 0 20px 0;
  /* background-color: #ccc; */
}

.btnList {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45px;
  align-items: center;
  cursor: pointer;
}
.btn > img {
  width: 25px;
  height: auto;
}
.btn > .btnUser {
  width: 30px;
}

.btn > span {
  margin-top: 10px;
}
