.nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  padding: 20px 0 10px 0;
  background-color: #fff;
  transform: translateX(-50%);
  z-index: 10;
}

.btnList {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.btn > img {
  width: 25px;
  height: auto;
}
.btn > .btnUser {
  width: 30px;
}

.btn > span {
  margin-top: 10px;
}
