.nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  background-color: #fff;
  transform: translateX(-50%);
  z-index: 10;
}

.btnList {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.btn > img {
  width: 16px;
  height: auto;
  margin-bottom: 2px;
}
.btn > span {
  font-size: 10px;
}
@media screen and (min-width: 430px) and (max-width: 1023px) {
  .nav {
    padding: 10px 0;
  }
  .btn > img {
    width: 19px;
    margin-bottom: 3px;
  }

  .btn > span {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    padding: 12px 0 10px 0;
  }
  .btn > img {
    width: 20px;
    margin-bottom: 4px;
  }

  .btn > span {
    font-size: 16px;
  }
}
