.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  background-color: #f7fbfe;
  overflow: hidden;
}
.wideContainer > div {
  width: 100%;
  max-width: 100%;
}
.container > div {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  max-width: 430px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
  background-color: #fff;
  box-sizing: border-box;
}
.container nav {
  max-width: 430px;
  margin: 0 auto;
  box-shadow: 2px 0px 6px 0 rgb(68 68 68 / 15%);
}
