.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: 200px 200px;
  grid-template-columns: 1fr 1fr;
}

.btnBox {
  width: 100%;
  padding: 60px 0px;
}

.resultBtn {
  width: 100%;
  height: 50px;

  padding: 5px;

  font-size: 16px;
  font-weight: bolder;

  border: none;
  background-color: #f7de6f;
  border-radius: 100px;

  position: relative;

  cursor: pointer;
}

.shareBtn {
  width: 100%;
  height: 50px;

  padding: 5px;
  margin-top: 15px;

  font-size: 16px;
  font-weight: bolder;

  border: none;
  background-color: #dfdfdf;
  border-radius: 100px;

  position: relative;

  cursor: pointer;
}

.scoreImage {
  background: url(../../assets/compatibilityImage.png) no-repeat center;
  background-size: contain;

  width: 343px;
  height: 340px;

  margin: auto;
  margin-top: 50px;
}

.scoreImage > p {
  font-size: 40px;
  font-weight: 700;

  margin: auto;
  text-align: center;

  position: relative;
  left: 40px;
  top: 200px;
}

.testContainer {
  border: 1px solid lightgray;
  width: 100%;
  height: 130px;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.testTitleBox,
.textMbti {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.testTitleBox > div {
  border-top-left-radius: 10px;
  width: 50%;
  box-sizing: border-box;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  background-color: #f7de6f;
}
.testTitleBox > div:nth-child(2) {
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  background-color: #ffb904;
}
.textMbti > div {
  border: 1px solid lightgray;
  height: 80px;
  width: 50%;
  font-size: 32px;
  font-weight: 700;
  color: #555555;
  box-sizing: border-box;
  text-align: center;
  line-height: 75px;
  border-bottom-left-radius: 10px;
}
.textMbti > div:nth-child(2) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 10px;
}

.content {
  background-color: #f8f8f8;

  font-size: 16px;
  font-size: 400;

  width: 100%;
  height: 235px;

  border-radius: 16px;

  margin-top: 35px;
}

.content > p {
  margin: 0px;
  padding: 25px;
}

.fake {
  display: none;
}
