.bg {
  position: relative;
  left: -40px;
  width: calc(100% + 80px);
  height: 400px;
  background: url('../../assets/login_bg.png') no-repeat center;
  background-size: contain;
}
.logo {
  margin: 0;
  height: 40px;
  background-color: #ccc;
  text-indent: -9999em;
  background: url('../../assets/logo.svg') no-repeat center;
}

.form {
  padding: 0 20px;
}
.form > p {
  position: relative;
}
.form label {
  position: absolute;
  left: -9999em;
  left: 5px;
  top: 50%;
  text-indent: -9999em;
  width: 0;
  height: 0;
  overflow: hidden;
}
.form input {
  width: 100%;
  border: none;
  padding: 20px 0 20px 35px;
  font-size: 17px;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px 0 rgb(68 68 68 / 8%);
}

.localLogin {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.localLogin > button {
  width: 49%;
  margin: 20px 0 10px 0;
  border: none;
  border-radius: 8px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgb(68 68 68 / 8%);
}
.socialLogin {
  padding: 0 20px 20px 20px;
}
