.container {
  padding-top: 20px;
}
.bg {
  position: relative;
  left: -40px;
  width: calc(100% + 80px);
  height: 400px;
  background: url('@assets/background/signin.webp') no-repeat center;
  background-size: contain;
}
.logo {
  margin: 20px 0 40px 0;
  height: 40px;
  background-color: #ccc;
  text-indent: -9999em;
  background: url('@assets/background/logo_black.webp') no-repeat center;
  background-size: auto 30px;
}
.or {
  text-align: center;
  color: #8b8b8b;
}
.socialLogin {
  padding: 0 20px 20px 20px;
}

@media screen and (max-width: 430px) {
  .bg {
    height: 250px;
  }
  .logo {
    margin: 20px 0;
    background-size: auto 25px;
  }
}
