.wrap {
  text-align: center;
}
.btn {
  width: 100%;
  height: 64px;
  border: none;
  background: transparent url('@assets/button/kakao.webp') no-repeat center;
  background-size: contain;
  cursor: pointer;
  text-indent: -9999em;
}

@media screen and (max-width: 430px) {
  .btn {
    height: 50px;
  }
}
