.btn {
  width: auto;
  height: 64px;
  margin: 10px 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background: url('@assets/button/naver.webp') no-repeat center;
  background-size: contain;
}
.fake {
  display: none;
}

@media screen and (max-width: 430px) {
  .btn {
    height: 50px;
  }
}
