.buttonBox {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  left: 440px;
  bottom: 80px;
}
.buttonBox > button {
  background-color: white;
  border: 1px solid lightgray;
  width: 60px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
