.edit {
  position: relative;
  width: 30px;
  height: 30px;
  margin: auto;
}
.edit > label {
  cursor: pointer;
}
.edit img {
  position: absolute;
  top: 115px;
  left: 35px;
  width: 30px;
  border-radius: 50%;
  background-color: #c4c4c4;
  z-index: 1;
}
.edit > input {
  display: none;
}
.userImage {
  width: 112px;
  height: 112px;
  border-radius: 56px;
  display: block;
  margin: auto;
  position: relative;
  object-fit: cover;
}

/* 관리자페이지 이미지 업로드 */
.container {
  width: 80%;
  margin-bottom: 50px;
  border: 3px solid lightblue;
  border-radius: 10px;
  padding: 20px;
}
.imgBox {
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.postImage {
  width: 100%;
}
