.wrap {
  padding: 16px;
  padding-bottom: 0;
}
.wrap:last-child > div {
  border-bottom: none;
}

.box {
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.box:nth-child(5n) {
  border: none;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.name {
  width: 50px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  line-height: 30px;
}

.desc {
  width: calc(100% - 60px);
  border-radius: 5px;
  padding-left: 5px;
  line-height: 30px;
  font-size: 15px;
  box-sizing: border-box;
}

.target {
  background-color: #ffe881;
}
