.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
}

.logo {
  background: url('@assets/background/logo_yellow.webp') no-repeat left center;
  background-size: auto 25px;
  width: 100%;
  height: 36px;
}
