.contaniner {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin: auto;
}

.chatbox {
  width: 96%;
  height: 430px;

  margin: auto;
  padding: 6px;

  overflow-y: scroll;
  -ms-overflow-style: none;
}

.chatbox::-webkit-scrollbar {
  display: none;
}

.banner {
  width: calc(100% + 40px);
  height: 82px;
  background-color: #e1efe8;
  position: relative;
  right: 20px;
  margin-bottom: 10px;
}

.alram {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding-bottom: 10px;
}

.content > p {
  padding-left: 10px;
}

.userImage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.visibleBtn {
  display: flex;
  width: 100%;
  height: 52px;
  border: 1px solid #c1c1c1;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
}

.alramContainer {
  width: 100%;
  height: 20px;
}
