.chatBox {
  display: flex;
  justify-content: center;
  height: 90%;
  position: relative;
}
.chatBox > div {
  width: 100%;
  height: calc(100% - 180px);
}
.chatBox > div > div {
  border-radius: 0px;
  width: 100%;
  height: calc(100vh - 230px);
  border: none;
  box-shadow: none;
  background-color: white;
}
.chatBox > div > div > div:nth-child(1) {
  display: none;
}
#root > div > div > div.chatRoom_chatBox__28sn4 {
  height: 800px;
}
#root > div > div > div.chatRoom_chatBox__28sn4 > div > div {
  height: 100%;
}

.image {
  width: 250px;
}
.jobImg {
  width: 200px;
  border-radius: 5px;
}
