.settingList {
  height: 100vh;
}

.settingList > div > p {
  cursor: pointer;
  font-size: 16px;
  margin: 0px;
  position: relative;
  bottom: 2px;
}

.settingList > div {
  display: flex;
}

.adminImage {
  margin-right: 15px;
  width: 19.4px;
  height: 20px;
}

.btn > button {
  border: none;
  border-radius: 25px;
  width: 50%;
  height: 30px;
  cursor: pointer;
  margin-top: 30px;
}

.content {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content > div:nth-child(3) {
  width: 60%;
}

.notificationIcon {
  background: url(../../assets/notification.png);
  width: 32px;
  height: 32px;
}

.alramIcon {
  background: url(../../assets/alram.png);
  width: 32px;
  height: 32px;
}

.contractIcon {
  background: url(../../assets/contract.png);
  width: 32px;
  height: 32px;
}

.reviewIcon {
  background: url(../../assets/mailIcon.png);
  width: 32px;
  height: 32px;
}

.logoutIcon {
  background: url(../../assets/logOutIcon.png);
  width: 32px;
  height: 32px;
}

.withdrawalIcon {
  background: url(../../assets/withdrawalIcon.png);
  width: 32px;
  height: 32px;
}

.adminIcon {
  background: url(../../assets/adminicon.png) no-repeat center;
  width: 32px;
  height: 32px;
}

.settingList > div > p {
  width: 28%;
}
