.heartButton {
  border-radius: 24px;
  padding: 5px 10px;
  border: 1px solid #dfdfdf;
  font-size: 14px;
  background-color: #ffffff;
  cursor: pointer;
}

.heartImage {
  position: relative;
  margin-bottom: -2px;
  margin-right: 5px;
}
