.image > img {
  position: relative;
  left: -20px;
  top: 0;
  width: calc(100% + 40px);
  height: auto;
}

.title {
  text-align: center;
  font-size: 18px;
}
h3.title {
  text-align: left;
  font-size: 20px;
}

.desc {
  font-size: 16px;
}

.contents {
  min-height: 200px;
  margin: 40px 0 100px 0;
}
