.rowFlex {
  display: flex;
  flex-direction: row;

  width: 398.5px;
  height: 134px;
  padding: 10px;
}

.rowFlex .textContent {
  width: 240px;
}

.columnFlex {
  display: flex;
  flex-direction: column;

  width: 191px;
  height: 230px;
  padding: 10px;
}

.textContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 109px;
  padding: 5px;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin: 15px 0px 10px 0px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.viewCount {
  font-size: 12px;
  font-weight: 600;
  margin: 0px 10px 0px 0px;
  width: auto;
}

.commentCount {
  font-size: 12px;
  font-weight: 600;
  margin: 0px;
}

.heartButton {
  border-radius: 24px;
  border: 1px solid #dfdfdf;
  font-size: 12px;
  line-height: 16px;
  background-color: #ffffff;
  margin: 12px 0px 0px 0px;
}

.rowImg {
  width: 160px;
  height: 109px;
  /* padding: 8px; */
  border-radius: 8px;
  cursor: pointer;
}

.columnImg {
  width: 191px;
  height: 143px;
  /* padding: 8px; */
  border-radius: 8px;
  cursor: pointer;
}

.heartImage {
  top: 1.5px;
  position: relative;
  margin-right: 2px;
}
