.signupWrap {
  height: calc(100vh - 120px);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
}
.form > p:first-child {
  margin-top: 0;
}
.form > p {
  position: relative;
}
.form label {
  position: absolute;
  left: -9999em;
  left: 5px;
  top: 50%;
  text-indent: -9999em;
  width: 0;
  height: 0;
  overflow: hidden;
}
.form input {
  width: 100%;
  border: none;
  padding: 20px 0 20px 35px;
  font-size: 17px;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px 0 rgb(68 68 68 / 8%);
}

.btnSignUp {
  width: 100%;
  margin: 20px 0 10px 0;
  border: none;
  border-radius: 8px;
  padding: 20px 0;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgb(68 68 68 / 8%);
}
